<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="GitVersionTask" version="4.0.0-beta0007" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net45" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.0.3" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Nancy" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.2.0" targetFramework="net45" />
  <package id="Nancy.Hosting.Aspnet" version="1.2.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NServiceBus" version="5.2.0" targetFramework="net45" />
  <package id="NServiceBus.Autofac" version="5.0.0" targetFramework="net45" />
  <package id="NServiceBus.Azure" version="6.2.1" targetFramework="net45" />
  <package id="NServiceBus.Azure.Transports.WindowsAzureStorageQueues" version="6.2.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.11.1" targetFramework="net45" />
  <package id="OctoPack" version="3.0.42" targetFramework="net45" />
  <package id="Respond" version="1.2.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" />
</packages>